
	<!-- Page Header -->
	<!-- <div class="page-header">
		<div class="pull-left">
			<ol class="breadcrumb visible-sm visible-md visible-lg">								
				<li><a href="index.html"><i class="icon fa fa-home"></i>首页</a></li>
				<li class="active"><i class="fa fa-picture-o"></i>我的菜单</li>
			</ol>						
		</div>
		<div class="pull-right">
			<h2>我的菜单</h2>
		</div>					
	</div> -->
	<!-- End Page Header -->
	<div class="media-gallery">
		<div class="mg-main">							
			<div class="inner-toolbar clearfix">
				<ul>
					<li>
						<a href="#" id="mgSelectAll"><i class="fa fa-check-square"></i> <span data-all-text="Select All" data-none-text="Select None">全选</span></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-pencil"></i> 编辑</a>
					</li>
					<li>
						<a href="#"><i class="fa fa-trash-o"></i> 删除</a>
					</li>
					<li class="right" data-sort-source data-sort-id="media-gallery">
						<ul class="nav nav-pills nav-pills-danger">
							<!-- <li>
								<label class="hidden-xs">Filter:</label>
							</li> -->
							<li class="active">
								<a data-option-value="*" href="#all">全部</a>
							</li>
							<li>
								<a data-option-value=".document" href="#document">川菜</a>
							</li>
							<li>
								<a data-option-value=".image" href="#image">凉菜</a>
							</li>
							<li>
								<a data-option-value=".video" href="#video">小炒</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="row mg-files" data-sort-destination data-sort-id="media-gallery">
				<div class="isotope-item document col-sm-6 col-md-4 col-lg-3">
					<div class="thumbnail">
						<div class="thumb-preview">
							<a class="thumb-image" href="assets/img/gallery/photo1.jpg">
								<img src="assets/img/gallery/photo1.jpg" class="img-responsive" alt="Project">
							</a>
							<div class="mg-thumb-options">
								<div class="mg-zoom"><i class="fa fa-search"></i></div>
								<div class="mg-toolbar">
									<div class="mg-option checkbox-custom checkbox-inline">
										<input type="checkbox" id="file_1" value="1">
										<label for="file_1">选择</label>
									</div>
									<div class="mg-group pull-right">
										<a href="#">编辑</a>
										<button class="dropdown-toggle mg-toggle" type="button" data-toggle="dropdown">
											<i class="fa fa-caret-up"></i>
										</button>
										<ul class="dropdown-menu mg-menu" role="menu">
											<li><a href="#"><i class="fa fa-download"></i> 下载</a></li>
											<li><a href="#"><i class="fa fa-trash-o"></i> 删除</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<h5 class="mg-title bk-fg-danger">搜索<small>.png</small></h5>
						<div class="mg-description">
							<small class="pull-left text-muted bk-fg-warning">Design, Websites</small>
							<small class="pull-right text-muted bk-fg-primary">14/10/2014</small>
						</div>
					</div>
				</div>
				<div class="isotope-item col-sm-6 col-md-4 col-lg-3">
					<div class="thumbnail">
						<div class="thumb-preview">
							<a class="thumb-image" href="assets/img/gallery/photo2.jpg">
								<img src="assets/img/gallery/photo2.jpg" class="img-responsive" alt="Project">
							</a>
							<div class="mg-thumb-options">
								<div class="mg-zoom"><i class="fa fa-search"></i></div>
								<div class="mg-toolbar">
									<div class="mg-option checkbox-custom checkbox-inline">
										<input type="checkbox" id="file_2" value="1">
										<label for="file_2">SELECT</label>
									</div>
									<div class="mg-group pull-right">
										<a href="#">EDIT</a>
										<button class="dropdown-toggle mg-toggle" type="button" data-toggle="dropdown">
											<i class="fa fa-caret-up"></i>
										</button>
										<ul class="dropdown-menu mg-menu" role="menu">
											<li><a href="#"><i class="fa fa-download"></i> Download</a></li>
											<li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<h5 class="mg-title bk-fg-danger">Blog<small>.png</small></h5>
						<div class="mg-description">
							<small class="pull-left text-muted bk-fg-warning">PSDs, Projects</small>
							<small class="pull-right text-muted bk-fg-primary">14/10/2014</small>
						</div>
					</div>
				</div>
				<div class="isotope-item video col-sm-6 col-md-4 col-lg-3">
					<div class="thumbnail">
						<div class="thumb-preview">
							<a class="thumb-image" href="assets/img/gallery/photo3.jpg">
								<img src="assets/img/gallery/photo3.jpg" class="img-responsive" alt="Project">
							</a>
							<div class="mg-thumb-options">
								<div class="mg-zoom"><i class="fa fa-search"></i></div>
								<div class="mg-toolbar">
									<div class="mg-option checkbox-custom checkbox-inline">
										<input type="checkbox" id="file_3" value="1">
										<label for="file_3">SELECT</label>
									</div>
									<div class="mg-group pull-right">
										<a href="#">EDIT</a>
										<button class="dropdown-toggle mg-toggle" type="button" data-toggle="dropdown">
											<i class="fa fa-caret-up"></i>
										</button>
										<ul class="dropdown-menu mg-menu" role="menu">
											<li><a href="#"><i class="fa fa-download"></i> Download</a></li>
											<li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<h5 class="mg-title bk-fg-danger">Friends<small>.png</small></h5>
						<div class="mg-description">
							<small class="pull-left text-muted bk-fg-warning">Projects, Vacation</small>
							<small class="pull-right text-muted bk-fg-primary">14/10/2014</small>
						</div>
					</div>
				</div>
				<div class="isotope-item image col-sm-6 col-md-4 col-lg-3">
					<div class="thumbnail">
						<div class="thumb-preview">
							<a class="thumb-image" href="assets/img/gallery/photo4.jpg">
								<img src="assets/img/gallery/photo4.jpg" class="img-responsive" alt="Project">
							</a>
							<div class="mg-thumb-options">
								<div class="mg-zoom"><i class="fa fa-search"></i></div>
								<div class="mg-toolbar">
									<div class="mg-option checkbox-custom checkbox-inline">
										<input type="checkbox" id="file_4" value="1">
										<label for="file_4">SELECT</label>
									</div>
									<div class="mg-group pull-right">
										<a href="#">EDIT</a>
										<button class="dropdown-toggle mg-toggle" type="button" data-toggle="dropdown">
											<i class="fa fa-caret-up"></i>
										</button>
										<ul class="dropdown-menu mg-menu" role="menu">
											<li><a href="#"><i class="fa fa-download"></i> Download</a></li>
											<li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<h5 class="mg-title bk-fg-danger">Life<small>.png</small></h5>
						<div class="mg-description">
							<small class="pull-left text-muted bk-fg-warning">Images, Photos</small>
							<small class="pull-right text-muted bk-fg-primary">14/10/2014</small>
						</div>
					</div>
				</div>
				<div class="isotope-item video col-sm-6 col-md-4 col-lg-3">
					<div class="thumbnail">
						<div class="thumb-preview">
							<a class="thumb-image" href="assets/img/gallery/photo5.jpg">
								<img src="assets/img/gallery/photo5.jpg" class="img-responsive" alt="Project">
							</a>
							<div class="mg-thumb-options">
								<div class="mg-zoom"><i class="fa fa-search"></i></div>
								<div class="mg-toolbar">
									<div class="mg-option checkbox-custom checkbox-inline">
										<input type="checkbox" id="file_5" value="1">
										<label for="file_5">SELECT</label>
									</div>
									<div class="mg-group pull-right">
										<a href="#">EDIT</a>
										<button class="dropdown-toggle mg-toggle" type="button" data-toggle="dropdown">
											<i class="fa fa-caret-up"></i>
										</button>
										<ul class="dropdown-menu mg-menu" role="menu">
											<li><a href="#"><i class="fa fa-download"></i> Download</a></li>
											<li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<h5 class="mg-title bk-fg-danger">Poetry<small>.png</small></h5>
						<div class="mg-description">
							<small class="pull-left text-muted bk-fg-warning">Websites</small>
							<small class="pull-right text-muted bk-fg-primary">14/10/2014</small>
						</div>
					</div>
				</div>
				<div class="isotope-item document col-sm-6 col-md-4 col-lg-3">
					<div class="thumbnail">
						<div class="thumb-preview">
							<a class="thumb-image" href="assets/img/gallery/photo6.jpg">
								<img src="assets/img/gallery/photo6.jpg" class="img-responsive" alt="Project">
							</a>
							<div class="mg-thumb-options">
								<div class="mg-zoom"><i class="fa fa-search"></i></div>
								<div class="mg-toolbar">
									<div class="mg-option checkbox-custom checkbox-inline">
										<input type="checkbox" id="file_6" value="1">
										<label for="file_6">SELECT</label>
									</div>
									<div class="mg-group pull-right">
										<a href="#">EDIT</a>
										<button class="dropdown-toggle mg-toggle" type="button" data-toggle="dropdown">
											<i class="fa fa-caret-up"></i>
										</button>
										<ul class="dropdown-menu mg-menu" role="menu">
											<li><a href="#"><i class="fa fa-download"></i> Download</a></li>
											<li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<h5 class="mg-title bk-fg-danger">Fun<small>.png</small></h5>
						<div class="mg-description">
							<small class="pull-left text-muted bk-fg-warning">Documentation, Projects</small>
							<small class="pull-right text-muted bk-fg-primary">14/10/2014</small>
						</div>
					</div>
				</div>
				<div class="isotope-item col-sm-6 col-md-4 col-lg-3">
					<div class="thumbnail">
						<div class="thumb-preview">
							<a class="thumb-image" href="assets/img/gallery/photo7.jpg">
								<img src="assets/img/gallery/photo7.jpg" class="img-responsive" alt="Project">
							</a>
							<div class="mg-thumb-options">
								<div class="mg-zoom"><i class="fa fa-search"></i></div>
								<div class="mg-toolbar">
									<div class="mg-option checkbox-custom checkbox-inline">
										<input type="checkbox" id="file_7" value="1">
										<label for="file_7">SELECT</label>
									</div>
									<div class="mg-group pull-right">
										<a href="#">EDIT</a>
										<button class="dropdown-toggle mg-toggle" type="button" data-toggle="dropdown">
											<i class="fa fa-caret-up"></i>
										</button>
										<ul class="dropdown-menu mg-menu" role="menu">
											<li><a href="#"><i class="fa fa-download"></i> Download</a></li>
											<li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<h5 class="mg-title bk-fg-danger">Family<small>.png</small></h5>
						<div class="mg-description">
							<small class="pull-left text-muted bk-fg-warning">Documentation</small>
							<small class="pull-right text-muted bk-fg-primary">14/10/2014</small>
						</div>
					</div>
				</div>
				<div class="isotope-item image col-sm-6 col-md-4 col-lg-3">
					<div class="thumbnail">
						<div class="thumb-preview">
							<a class="thumb-image" href="assets/img/gallery/photo8.jpg">
								<img src="assets/img/gallery/photo8.jpg" class="img-responsive" alt="Project">
							</a>
							<div class="mg-thumb-options">
								<div class="mg-zoom"><i class="fa fa-search"></i></div>
								<div class="mg-toolbar">
									<div class="mg-option checkbox-custom checkbox-inline">
										<input type="checkbox" id="file_8" value="1">
										<label for="file_8">SELECT</label>
									</div>
									<div class="mg-group pull-right">
										<a href="#">EDIT</a>
										<button class="dropdown-toggle mg-toggle" type="button" data-toggle="dropdown">
											<i class="fa fa-caret-up"></i>
										</button>
										<ul class="dropdown-menu mg-menu" role="menu">
											<li><a href="#"><i class="fa fa-download"></i> Download</a></li>
											<li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<h5 class="mg-title bk-fg-danger">Hapiness<small>.png</small></h5>
						<div class="mg-description">
							<small class="pull-left text-muted bk-fg-warning">Websites</small>
							<small class="pull-right text-muted bk-fg-primary">14/10/2014</small>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="" data-animate="flash">
								<div class="panel bk-widget bk-webkit-fix">
									<a class="panel-body bk-fg-warning text-center modal-with-form" href="#menuAdd" style="background: transparent;border: 2px dotted #f9af3f;">
										<!-- <h5 class="bk-margin-off">Flash</h5> -->
										<i class="fa  fa-plus fa-2x bk-padding-top-5"></i>
									</a>
									<!-- Modal Form -->
									<div id="menuAdd" class="modal-block modal-block-primary mfp-hide">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h2 class="panel-title">添加菜谱</h2>
											</div>
											<div class="panel-body bk-noradius">
												<form id="demo-form" class="form-horizontal mb-lg" novalidate="novalidate">
													<!-- <div class="form-group mt-lg">
														<label class="col-sm-3 control-label"></label>
														<div class="col-sm-3">
															<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">分类 <span class="caret"></span></button>
																<ul class="dropdown-menu" role="menu">
																	<li><a href="">炒菜</a></li>
																	<li><a href="">甜品</a></li>
																	<li><a href="">海鲜</a></li>
																</ul>
														</div>
														<label class="col-sm-3 control-label">名称</label>
														<div class="col-sm-3">
															<input type="text" name="name" class="form-control" placeholder="Type your name..." required/>
														</div>
													</div> -->
													<div class="form-group mt-lg">
														<label class="col-sm-3 control-label">名称</label>
														<div class="col-md-9">
															<div class="input-group">
																<div class="input-group-btn">
																	<button type="button" class="btn btn-warning">{{menuType}}</button>
																	<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
																	<ul class="dropdown-menu">
																		<li><a ng-click="menuType='炒菜'">炒菜</a></li>
																		<li><a ng-click="menuType='甜品'">甜品</a></li>
																		<li><a ng-click="menuType='海鲜'">海鲜</a></li>
																		<li><a ng-click="menuType='糖类'">糖类</a></li>
																	</ul>
																</div>
																<input type="text"  style="margin-left: 10px;"
																name="input2-group3" class="form-control" placeholder="输入名称">
															</div>
														</div>
													</div>
													<!-- <div class="form-group mt-lg">
														<label class="col-sm-3 control-label">名称</label>
														<div class="col-sm-9">
															<input type="text" name="name" class="form-control" placeholder="Type your name..." required/>
														</div>
													</div> -->
													<div class="form-group mt-lg">
														<label class="col-sm-3 control-label">价格</label>
														<div class="col-sm-9">
															<!-- <input type="text" name="name" class="form-control" placeholder="价格" required/> -->
															<div class="controls">
																<div class="input-prepend input-group has-warning">
																	<span class="input-group-addon">$</span>
																		<input  class="form-control" size="16" type="text"><span class="input-group-addon">.00</span>
																	</div>
																</div>
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-3 control-label">优惠价</label>
														<div class="col-sm-9">
															<div class="controls">
																<div class="input-prepend input-group has-warning">
																	<span class="input-group-addon">$</span>
																		<input  class="form-control" size="16" type="text"><span class="input-group-addon">.00</span>
																	</div>
																</div>
														</div>
													</div>

													<div class="form-group">
														<label class="col-sm-3 control-label">描述</label>
														<div class="col-sm-9">
															<textarea rows="3" class="form-control" placeholder="150字以内(可不写)" required></textarea>
														</div>
													</div>
												</form>
												<div class="form-horizontal mb-lg">
													<div class="form-group">
														<label class="col-sm-3 control-label">图片</label>
														<div class="col-sm-9">
														<div class="controls">
														<div id="dropzone">
														<form action="test.html" style= "min-height:100px;" 
														class="dropzone dz-clickable">
														<div ><span class="fa fa-plus"></span> </div></form>
														</div>
														</div>
														</div>
													</div>
													</div>
											</div>
											<div class="panel-footer">
												<div class="row">
													<div class="col-md-12 text-right">
														<button class="btn btn-primary modal-confirm" ng-click="closeMenuModal()">保存</button>
														<button class="btn btn-default modal-dismiss"
														ng-click="closeMenuModal()">取消</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
				</div>
			</div>
		</div>
	</div>