
	<!-- Page Header -->
	<div class="page-header">
		<div class="pull-left">
			<ol class="breadcrumb visible-sm visible-md visible-lg">								
				<li><a href="index.html"><i class="icon fa fa-home"></i>首页</a></li>
				<li class="active"><i class="fa fa-picture-o"></i>消费流水</li>
			</ol>						
		</div>
		<div class="pull-right">
			<h2>消费流水</h2>
		</div>					
	</div>
	<!-- End Page Header -->
	<div class="media-gallery">
		<div class="mg-main">							
			<div class="inner-toolbar clearfix" style="background:rgba(255, 255, 255, 0.7);">
				<ul>
					<li data-sort-source data-sort-id="media-gallery">
						<ul class="nav nav-pills nav-pills-danger">
							<li class="active">
								<a data-option-value="*" href="#all">全部</a>
							</li>
							<li>
								<a data-option-value=".document" href="#document">完成</a>
							</li>
							<li>
								<a data-option-value=".image" href="#image">未完成</a>
							</li>
							<!-- <li>
								<a data-option-value=".video" href="#video">时间</a>
							</li> -->
						</ul>
					</li>
				</ul>
			</div>
			<div class="row mg-files">
			<div class="col-lg-12">
							<div class="panel panel-default bk-bg-white">
								<!-- <div class="panel-heading bk-bg-white">
									<h6><i class="fa fa-table red"></i><span class="break"></span>Striped</h6>
									<div class="panel-actions">
										<a href="#" class="btn-minimize"><i class="fa fa-caret-up"></i></a>
										<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
									</div>
								</div> -->
								<div class="panel-body">
									<div class="table-responsive">
										<table class="table table-striped">
											  <thead>
												  <tr>
												  	<th>用户</th>
													<th>名称</th>
													<th>金额</th>
													<th>交易状态</th>                                          
												  </tr>
											  </thead>   
											  <tbody>
												<tr>
													<td>Willson</td>
													<td>Developer</td>
													<td>2563$</td>
													<td>
														<span class="label label-success">完成</span>
													</td>                                       
												</tr>
												<tr>
													<td>James</td>
													<td>SEO</td>
													<td>5000$</td>
													<td>
														<span class="label label-success">完成</span>
													</td>                                       
												</tr>
												<tr>
													<td>Steven</td>
													<td>Photographer</td>
													<td>1269$</td>
													<td>
														<span class="label label-success">完成</span>
													</td>                                        
												</tr>
												<tr>
													<td>Aselay</td>
													<td>Project manger</td>
													<td>6253$</td>
													<td>
														<span class="label label-warning">正在交易</span>
													</td>                                       
												</tr>									                                  
											  </tbody>
										</table>
									</div>
								</div>
							</div>
						</div>	
						</div>		
	</div>
</div>