<ion-modal-view>
<ion-header-bar class="bar-senty">
   <button class="button button-clear button-light button-icon icon ion-ios-close-empty" 
        ng-click="aboutModal.hide()">
     </button>
   <div class="title title-center header-item">
      关于{{appName}}
      </div>  
  </ion-header-bar>
  <ion-content>
    <ion-list>
	    <a class="item item-icon-right">
	        <span class="color-senty">
	          版本
	        </span>
	        <span class="item-note" style="width:70%">1.0.0</span>
	     </a>
	    <div class="card facebook-card no-margin-side">
	        <div class="card-header color-senty">关于{{appName}}</div>
	        <div class="card-content">
		        <div class="card-content-inner desc-block">
		            <p>第一时间发现与"我"相关的舆情信息，负面信息，重大舆情及时预警； </p><p>提供定性定量的舆情分析数据，准确研判具体舆情或者某一舆情专题的发展变化趋势；</p><p> 自动生成舆情报告和各种统计报表，提高舆情管理的质量和效率，辅助领导决策； </p><p>互联网环境错综复杂，相对于网络纠纷和危机事件发生后的设法解决，有效监测和评估所面临的风险，并在事前采取适当的措施进行澄清，干预以及规避，是党和政府以及各类企事业单位应借鉴的管理发展之路。</p>
		        </div>
	        </div>              
	    </div>
	    <div class="card facebook-card no-margin-side">
	        <div class="card-header color-senty">监测范围</div>
	        <div class="card-content">
		        <div class="card-content-inner desc-block">
		            <p>网站：近千家网站，包括门户网站、新闻网站、政府网站、行业网站等；</p><p>
		            论坛：近100家论坛，包括全国和地方的论坛贴吧；</p><p>
		            微博：新浪、腾讯等全国和地方的主要微博；</p><p>
		            博客：所有主流博客。</p><p>
		           	</p>
		        </div>
	        </div>              
	    </div>
    </ion-list>
     </ion-content>
</ion-modal-view>