<ion-modal-view> 
    <ion-header-bar  class="bar-senty">
      <button class="button button-clear button-light button-icon icon    ion-ios-close-empty" 
        ng-click="closeKeyTypeModal('{{keyType}}')">
        </button>
      <div class="title title-center header-item">
        关键词分类
      </div>  
    </ion-header-bar>
    <ion-content>
    <ion-list>
     <ion-radio ng-model="material.ZGJC" ng-value="1" 
      ng-click="closeKeyTypeModal('攻击党和国家领导人')">
      攻击党和国家领导人</ion-radio>
      <ion-radio ng-model="material.ZGJC" ng-value="2" 
      ng-click="closeKeyTypeModal('民族分裂及涉恐')">
      民族分裂及涉恐</ion-radio>
      <ion-radio ng-model="material.ZGJC" ng-value="3" 
      ng-click="closeKeyTypeModal('法轮功及邪教组织')">
      法轮功及邪教组织</ion-radio>
      <ion-radio ng-model="material.ZGJC" ng-value="4" 
      ng-click="closeKeyTypeModal('六四民运相关')">
      六四民运相关</ion-radio>
      <ion-radio ng-model="material.ZGJC" ng-value="5" 
      ng-click="closeKeyTypeModal('群体性事件与涉稳')">
      群体性事件与涉稳</ion-radio>
      <ion-radio ng-model="material.ZGJC" ng-value="6" 
      ng-click="closeKeyTypeModal('涉政')">涉政</ion-radio>
      <ion-radio ng-model="material.ZGJC" ng-value="7" 
      ng-click="closeKeyTypeModal('涉警')">涉警</ion-radio>
        <ion-radio ng-model="material.ZGJC" ng-value="8" 
      ng-click="closeKeyTypeModal('涉军')">涉军</ion-radio>
      <ion-radio ng-model="material.ZGJC" ng-value="9" 
      ng-click="closeKeyTypeModal('其它')">其它</ion-radio>
    </ion-list>
    </ion-content>
</ion-modal-view>