<ion-modal-view>
  <ion-header-bar class="bar-senty">
   <button class="button button-clear button-light button-icon icon    ion-ios-close-empty" 
        ng-click="closePageTypeModal('{{pageType}}')">
        </button>
   <div class="title title-center header-item">
      页面类型
      </div>  
  </ion-header-bar>
  <ion-content>
    <ion-list>
     <ion-radio ng-model="material.YMLX" ng-value="0" 
      ng-click="closePageTypeModal('默认')">默认</ion-radio>
      <ion-radio ng-model="material.YMLX" ng-value="1" 
      ng-click="closePageTypeModal('资讯类')">资讯类</ion-radio>
      <ion-radio ng-model="material.YMLX" ng-value="2" 
      ng-click="closePageTypeModal('论坛类')">论坛类</ion-radio>
      <ion-radio ng-model="material.YMLX" ng-value="3" 
      ng-click="closePageTypeModal('微博类')">微博类</ion-radio>
      <ion-radio ng-model="material.YMLX" ng-value="4" 
      ng-click="closePageTypeModal('博客类')">博客类</ion-radio>
      <ion-radio ng-model="material.YMLX" ng-value="6" 
      ng-click="closePageTypeModal('元搜索类')">元搜索类</ion-radio>
      <ion-radio ng-model="material.YMLX" ng-value="10" 
      ng-click="closePageTypeModal('微信类')">微信类</ion-radio>
      <ion-radio ng-model="material.YMLX" ng-value="-1" 
      ng-click="closePageTypeModal('其它类')">其它类</ion-radio>
    </ion-list>
  </ion-content>
</ion-modal-view>