
  <div class="tabs-striped tabs-top tabs-background-light tabs-color-senty">
    <div class="tabs tabs-slide item-buttons">
      <a class="tab-item ion-arrow-down-b icon-right button button-small icon no-border" 
      ng-class="{'active': fliter==1}" 
      ng-click="showFliter(1)">匹配</a>
      <a  class="tab-item ion-arrow-down-b icon-right button button-small icon no-border"  
      ng-class="{'active':fliter==2}" 
      ng-click="showFliter(2)">区域</a>
      <a class="tab-item ion-arrow-down-b icon-right button button-small icon no-border" 
      ng-class="{'active': fliter==3}" 
      ng-click="showFliter(3)">类型</a>
      <a class="tab-item ion-arrow-down-b icon-right button button-small icon no-border" 
      ng-class="{'active': fliter==4}" 
      ng-click="showFliter(4)">时间</a>
    </div>
    <div class="fliter" ng-class="{'active':fliter}">
      <section ng-show="fliter=='code'">
        </section>
        <section ng-show="fliter==1">
        <div class="button-bar">
            <a class="button button-clear button-small" ng-click="search.q('','全部')"
            ng-class="{'button-senty':search.qName=='全部'}">全部</a>
            <a class="button button-clear button-small" ng-click="search.q('title','标题')"
            ng-class="{'button-senty':search.qName=='标题'}">标题</a>
            <a class="button button-clear button-small" ng-click="search.q('content','内容')"
            ng-class="{'button-senty':search.qName=='内容'}">内容</a>
         </div>
         </section>
         <section ng-show="fliter==2">
         <div class="button-bar">
            <a class="button button-small button-clear" 
            ng-click="search.location('');" 
            ng-class="{'button-senty':search.locationName=='全部'}">全部</a>
            <a class="button button-small button-clear" 
            ng-click="search.location(1)"
            ng-class="{'button-senty':search.locationName=='本地'}">本地</a>
            <a class="button button-clear button-small" 
             ng-click="search.location(2)">外地</a>
            <a class="button button-small button-clear" 
            ng-click="search.location(3)"
            ng-class="{'button-senty':search.locationName=='境外'}">境外</a>
         </div>
         </section>
          <section ng-show="fliter==3">
         <div class="button-bar">
            <a class="button button-clear button-small" 
            ng-click="search.fq('platform','')"
            ng-class="{'button-senty':!search.fqs.platform}">全部</a>            
            <a class="button button-clear button-small" ng-click="search.fq('platform',1)"
            ng-class="{'button-senty':search.fqs.platform==1}">资讯</a>
            <a class="button button-clear button-small" ng-click="search.fq('platform',2)"
            ng-class="{'button-senty':search.fqs.platform==2}">论坛</a>
            <a class="button button-clear button-small" ng-click="search.fq('platform',3)"
            ng-class="{'button-senty':search.fqs.platform==3}">微博</a>
          </div>
           <div class="button-bar">
            <a class="button button-clear button-small" ng-click="search.fq('platform',4)"
            ng-class="{'button-senty':search.fqs.platform==4}">博客</a>            
            <a class="button button-clear button-small" ng-click="search.fq('platform',5)"
            ng-class="{'button-senty':search.fqs.platform==5}">QQ</a>
            <a class="button button-clear button-small" ng-click="search.fq('platform',10)"
            ng-class="{'button-senty':search.fqs.platform==10}">微信</a>
            <a class="button button-clear
             button-small" ng-click="search.fq('platform',8)"
             ng-class="{'button-senty':search.fqs.platform==8}">邮件</a>
          </div>
           <div class="button-bar">
            <a class="button button-clear button-small" ng-click="search.fq('platform',6)"
            ng-class="{'button-senty':search.fqs.platform==6}">元搜索</a>            
            <a class="button button-clear button-small" ng-click="search.fq('platform',9)"
            ng-class="{'button-senty':search.fqs.platform==9}">图片识别</a>          
          </div>
          </section>
           <section ng-show="fliter==4">
             <div class="button-bar">
                <a class="button button-clear button-small" ng-click="search.time('','全部')"
                ng-class="{'button-senty':search.timeName=='全部'}">全部</a>            
                <a class="button button-clear button-small" ng-click="search.time(0,'今天')"
                ng-class="{'button-senty':search.timeName=='今天'}">今天</a>
                <a class="button button-clear button-small" ng-click="search.time(-1,'一天内')"
                ng-class="{'button-senty':search.timeName=='一天内'}">一天内</a>
                <a class="button button-clear button-small" ng-click="search.time(-2,'2天内')"
                ng-class="{'button-senty':search.timeName=='2天内'}">2天内</a>
              </div>
               <div class="button-bar">
                <a class="button button-clear button-small" ng-click="search.time(-3,'3天内')"
                ng-class="{'button-senty':search.timeName=='3天内'}">3天内</a>            
                <a class="button button-clear button-small" ng-click="search.time(-7,'一周内')"
                ng-class="{'button-senty':search.timeName=='一周内'}">一周内</a>
                <a class="button button-clear button-small" ng-click="search.time(-30,'一个月内')"
                ng-class="{'button-senty':search.timeName=='一个月内'}">一个月内</a>     
              </div>
          </section>
          
  </div>
  <ion-content class="has-sub" ng-controller="sentyListCtrl">
    <ion-refresher
        pulling-icon="ion-ios-arrow-thin-down"
        spinner="bubbles"
        refreshing-text="正在努力加载..."
        pulling-text="下拉刷新"
        on-refresh="doRefresh()">
      </ion-refresher>
      <section>
      <div class="card facebook-card" 
            ng-repeat="nt in negatives">
              <div class="card-header no-avatar">
                <div class="facebook-name">{{nt.nickname?nt.nickname:'匿名'}}</div>
                <div class="facebook-date">{{nt.timestamp}}</div>
              </div>
              <div class="card-content">
                <div class="card-content-inner" ng-click="openNegativeModal(nt.id)">
                  <p class="card-content-title">{{nt.title}}</p>
                  <p class="color-gray">{{nt.content}}</p>
                  <p style="color:#ccc" 
                  class="icon ion-ios-location-outline">&nbsp;{{nt.location}}</p>
                  <div class="chip" ng-if="nt.read_count">
                    <div class="chip-label">浏览{{nt.read_count}}</div>
                  </div>
                  <div class="chip" ng-if="nt.comment_count">
                    <div class="chip-label">评论{{nt.comment_count}}</div>
                  </div>
                </div>
              </div>
            <div class="card-footer">
              <a href="#" class="link">
                <i class="ion-ios-flag icon"></i>
                 {{nt.source_name}}</a>
                <a href="#" class="link" ng-click="openDeliveryModal(nt)">
                                 
                <i class="ion-ios-cloud-upload-outline icon"></i>
                  上报</a>
                <a href="#"  class="link"  ng-click="openOperateModal(nt)">
                <i class="ion-hammer icon"></i>处置</a>
            </div>
      </section>
    </ion-list>
    <ion-infinite-scroll 
    ng-if="moredata"
    on-infinite="loadMore()"
    spinner="bubbles" >
    </ion-infinite-scroll>
    <section class="no-result" ng-if="!negatives.length">
	    <div class="noresult">
	        <i></i>
	        <span>哎~没有找到</span>
	        <span>去试试其它搜索吧!</span> 
	    </div>
	</section> 
  <div class="backdrop visible active content-backdrop"  ng-if="fliter" ng-click="showFliter(false)"></div>
  </ion-content>
