<ion-modal-view ng-controller="SentyFliterCtrl">
  <ion-content>
  		<section>
  	 	 <div class="button-bar">
  	       <a class="button button-crear" >舆情信息</a>
  	       <a class="button button-crear">有害信息</a>
  	    </div>
  	    </section>
  	    <section>
  	   	<div class="button-bar">
  	     	<a class="button button-crear" >全部</a>
  	        <a class="button button-crear" >标题</a>
  	        <a class="button button-crear">内容</a>
  	     </div>
  	     </section>
  	     <section>
  	     <div class="button-bar">
  	        <a class="button button-crear" >全部</a>            
  	        <a class="button button-crear" >本地</a>
  	        <a class="button button-crear" >外地</a>
  	        <a class="button button-crear">境外</a>
  	     </div>
  	     </section>
  	      <section>
  	     <div class="button-bar">
            <a class="button button-crear" >全部</a>            
            <a class="button button-crear" >资讯</a>
            <a class="button button-crear" >论坛</a>
            <a class="button button-crear">微博</a>
          </div>
           <div class="button-bar">
            <a class="button button-crear" >博客</a>            
            <a class="button button-crear" >QQ</a>
            <a class="button button-crear" >微信</a>
            <a class="button button-crear">邮件</a>
          </div>
           <div class="button-bar">
            <a class="button button-crear" >元搜索</a>            
            <a class="button button-crear" >图片识别</a>
            <a class="button button-crear" >元搜索</a>
          </div>
          </section>
  </ion-content>
</ion-modal-view>